<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-outline-success" type="button" (click)="valorActualizado(+ valorcin.value)">  <i class=" mdi mdi-plus"> </i>  </button>
        <button class="btn btn-outline-danger" type="button" (click)="valorActualizado(- valorcin.value)">  <i class="mdi mdi-minus"></i>  </button>
    </div>
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="prog" #valorcin value=5>
</div>